In [7]:
import pandas as pd

**regla de la suma** : Union - OR

$$P(A \cup B) = P(A) + P(B) - P(A \cap B)$$

**regla de la multiplicacion independientes** : Interseccion - AND

$$P(A \cap B) = P(A) * P(B)$$

**la probabilidad condicional se define como** :

$$P(A | B) = \frac{ P(A \cap B) }{ P(B) }$$

## 1<br>
Suponga dos eventos, A y B, y que P(A) = 0.50, P(B) = 0.60 y P(A ∩ B) = 0.40<br>
    
a) Halle P(A | B)<br>
b) Halle P(B | A)<br>
c) ¿A y B son independientes? ¿Por qué sí o por qué no?<br>

In [9]:
PA = 0.5
PB = 0.6
PAyPB =0.4

In [10]:
## a)
PAyPB / PB

0.6666666666666667

In [11]:
## b)
PAyPB / PA

0.8

c)
NO<br>
para ser independientes $$P(A | B) = P(A)$$

## 2<br> 
Suponga dos eventos, A y B, que son mutuamente excluyentes. Admita, además, que P(A) = 0.30 y P(B) = 0.40.<br>
- a. Obtenga P(A ∩ B). ¿Existe intersección entre los dos conjuntos?.
- b. Calcule P(A | B).
- c. Un estudiante de estadística argumenta que los conceptos de eventos mutuamente excluyentes y eventos independientes son en realidad lo mismo y que si los eventos son mutuamente excluyentes deben ser también independientes. ¿Está usted de acuerdo? Use la información sobre las probabilidades para justificar su respuesta.

In [13]:
PA = 0.3
PB = 0.4

In [17]:
## a)
## P(AnB) = 0; no existe interseccion ya q son excluyentes

In [18]:
## b)
(PA * PB) / PB ## P(A|B) = P(A)* P(B9 son dependientes: 0 son excluyentes

0.3

In [ ]:
## c)

## 3<br>
Si en la concesionaria se seleccionan dos ventas con reposición (Los sucesos son independientes.). Hallar la probabilidad de que las ventas sean:<br>
 
  - a. La primera de un comprador de “menos de 40 años” y la segunda de uno de "entre 40 y 50 años". 
  
  - b. las dos sean de autos "nacionales".

In [26]:
ventas = {
    "Nacional": [24, 19, 7],
    "Importado": [6, 15, 9]}

In [27]:
dF = pd.DataFrame(ventas, index=['Menos de 40', 'Entre 40 y 50', 'Más de 50'])
dF

               Nacional  Importado
Menos de 40          24          6
Entre 40 y 50        19         15
Más de 50             7          9

In [29]:
## a)
eMuestral = dF.Nacional.sum() + dF.Importado.sum()
eMuestral

80

In [30]:
PA = (dF.Nacional[0] + dF.Importado[0]) / eMuestral
PA

0.375

In [32]:
PB = (dF.Nacional[1] + dF.Importado[1]) / eMuestral
PB

0.425

In [33]:
PA * PB ## P(AnB)

0.159375

In [37]:
## b)
PC = dF.Nacional.sum() / eMuestral
PC

0.625

In [38]:
PC * PC ## P(CnC)

0.390625

## 4<br>
Si la selección de las dos ventas se realiza sin reposición. Hallar la probabilidad de que las ventas sean:<br>
  Los sucesos son condicionales.

 - a. la primera de un comprador de “menos de 40 años” y la segunda de uno de "entre 40 y 50 años".

 - b. las dos sean de autos "nacionales".

In [41]:
## a)
PA * ((PB * PA) / PA) ## PB n P(B|A)

0.159375

In [42]:
## b)
PC * ((PC * PC) / PC)

0.390625

## 5<br>
Si la selección de las dos ventas se realiza sin reposición. Hallar la probabilidad de que las ventas sean:<br>
  Los sucesos son condicionales.
  
 - a. De un comprador de “menos de 40 años” y de uno de "entre 40 y 50 años". Sin importar el orden.

In [43]:
PA * ((PB * PA) / PA)

0.159375

In [44]:
PB * ((PA * PB) / PB)

0.159375

 ## 6<br>
 Debido al aumento de los costos de los seguros, en un país 43 millones de personas, hay personas que no cuentan con un seguro médico. En la tabla siguiente se muestran datos muestrales representativos de la cantidad de personas que cuentan con seguro médico:<br>

- a. Con estos datos elabore una tabla de probabilidad conjunta y úsela para responder las preguntas restantes.
- b. ¿Qué indican las probabilidades marginales acerca de la edad de la población?
- c. ¿Cuál es la probabilidad de que una persona tomada en forma aleatoria no tenga seguro médico?
- d. Si la persona tiene entre 18 y 34 años, ¿cuál es la probabilidad de que no tenga seguro médico?
- e. Si la persona tiene 35 años o más ¿cuál es la probabilidad de que no tenga seguro médico?
- f. Si la persona no tiene seguro médico, ¿cuál es la probabilidad de que tenga entre 18 y 34 años?

In [128]:
dIc = {'SI': [750, 950],

       'NO': [170, 130]}

In [129]:
dF = pd.DataFrame(dIc, index=['18 a 34', '35 o mayor'])
dF

             SI   NO
18 a 34     750  170
35 o mayor  950  130

In [5]:
eMuestral = dF.SI.sum() + dF.NO.sum()
eMuestral

2000

In [6]:
eMuestral_18 = dF.iloc[0].sum()
eMuestral_18

920

In [7]:
eMuestral_35 = dF.iloc[1].sum()
eMuestral_35

1080

In [10]:
eMuestral_SI = dF.SI.sum()
eMuestral_SI

1700

In [11]:
eMuestral_NO = dF.NO.sum()
eMuestral_NO

300

In [119]:
dF['Prob_SI'] = dF.SI / eMuestral
dF['Prob_NO'] = dF.NO / eMuestral
dF

             SI   NO  Prob_SI  Prob_NO
18 a 34     750  170    0.375    0.085
35 o mayor  950  130    0.475    0.065

In [ ]:
## b)
## las personas en la edad entre 35 o mayor tienen mayor probabilidad de tener seguro

In [120]:
## c)
PNO = dF.Prob_NO.sum()
PNO

0.15000000000000002

In [121]:
## d) 0.1847
P18 = dF.Prob_SI[0] + dF.Prob_NO[0]
P18

0.46

In [123]:
dF.Prob_NO.sum()

0.15000000000000002

In [108]:
P18_NO = (dF.NO[0]) / eMuestral_18
P18_NO

0.18478260869565216

In [104]:
## e) 0.1366
eMuestral_35 = dF.iloc[1].sum()
eMuestral_35

1080

In [107]:
P35_NO = (dF.NO[1]) / eMuestral_35
P35_NO

0.12037037037037036

In [90]:
P35 * PNO

0.081

In [ ]:
## f) 0.56

## TEST

 ## 6<br>
 Debido al aumento de los costos de los seguros, en un país 43 millones de personas, hay personas que no cuentan con un seguro médico. En la tabla siguiente se muestran datos muestrales representativos de la cantidad de personas que cuentan con seguro médico:<br>

- a. Con estos datos elabore una tabla de probabilidad conjunta y úsela para responder las preguntas restantes.
- b. ¿Qué indican las probabilidades marginales acerca de la edad de la población?
- c. ¿Cuál es la probabilidad de que una persona tomada en forma aleatoria no tenga seguro médico?
- d. Si la persona tiene entre 18 y 34 años, ¿cuál es la probabilidad de que no tenga seguro médico?
- e. Si la persona tiene 35 años o más ¿cuál es la probabilidad de que no tenga seguro médico?
- f. Si la persona no tiene seguro médico, ¿cuál es la probabilidad de que tenga entre 18 y 34 años?

In [163]:
dF1 = dF.copy()

In [164]:
dF1.SI = dF.SI / eMuestral

In [165]:
dF1.NO = dF.NO / eMuestral

In [166]:
dF1

               SI     NO
18 a 34     0.375  0.085
35 o mayor  0.475  0.065

In [167]:
dF1.loc[len(dF1.index)] = dF1.sum()

In [168]:
dF1.rename({2: 'Total'}, inplace=True)

In [169]:
dF1

               SI     NO
18 a 34     0.375  0.085
35 o mayor  0.475  0.065
Total       0.850  0.150

In [170]:
dF1['Total'] = dF1.sum(axis=1)

In [171]:
dF1

               SI     NO  Total
18 a 34     0.375  0.085   0.46
35 o mayor  0.475  0.065   0.54
Total       0.850  0.150   1.00

**la probabilidad condicional se define como** :

$$P(A | B) = \frac{ P(A \cap B) }{ P(B) }$$

In [9]:
#- f. Si la persona no tiene seguro médico, ¿cuál es la probabilidad de que tenga entre 18 y 34 años?
pA = 0.085
pB = 0.15

In [8]:
P(A) = 0.085
P(B) = 0.46
P(A|B) =

0.15